* {
  font-family: "Work Sans", sans-serif;
}

header {
  height: 15vh;
  width: 100vw;
  padding: 16px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  gap: 16px;
}

header img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

header h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
}

main {
  height: 75vh;
  width: 100vw;
  background-color: lightpink;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: bisque;
}

#grid-area {
  display: grid;

  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: minmax(0, 4fr) minmax(0, 0.75fr) minmax(0, 4fr);
}

section {
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  background-color: powderblue;

  padding: 24px;
}

#score-counter li {
  margin: 16px;
}

#text-content {
  grid-column: 2 / span 3;
  grid-row: 3 / 4;
  background-color: lightgreen;
}

#grid-area img {
  align-self: center;
  justify-self: center;
  max-height: 100%;
  object-fit: contain;
  overflow-y: hidden;

  /* ^ cover stretches to container */
}

#imgSection {
  grid-column: 2 / span 3;
  grid-row: 1 / 2;
  background-color: white;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr);
}

#imgSection img {
  min-height: 100%;
  min-width: 100%;

  max-height: 100%;
  max-width: 100%;

  align-self: center;
  justify-self: center;
  object-fit: fill;
}

p {
  height: 100%;
}

#chart-section {
  height: 50vh;
  width: 50vw;
  margin: 0 auto;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#mid-section-left {
  height: 100%;
  width: 100%;

  grid-row: 2/3;
  grid-column: 2 / span 2;
  background-color: burlywood;
}

#mid-section-right {
  height: 100%;
  width: 100%;

  grid-row: 2/3;
  grid-column: 4 / 5;
  background-color: rgb(248, 143, 6);
}

#movable-div {
  position: absolute;
  z-index: -9;
  background-image: url("./assets/rapides-sonic-super-rapido.gif");
  /* background-color: black; */
  width: 450px;
  height: 450px;
  object-fit: contain;
  transform-origin: bottom center;
  translate: -50% -100%;
  scale: 0.2;

  animation: rotate linear 5s infinite;
}

#chart-page {
  overflow: hidden;
}

@keyframes rotate {
  /* where does it begin  */

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
  /* Where does it go to  */
}

#main-two {
  height: 80vh;
  width: 100vw;
}
