header {
  height: 15vh;
  width: 100vw;
  background-color: aquamarine;
}

main {
  height: 75vh;
  width: 100vw;
  background-color: lightpink;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: bisque;
}

#grid-area {
  display: grid;

  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: minmax(0, 4fr) minmax(0, 0.75fr) minmax(0, 4fr);
}

section {
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  background-color: powderblue;

  padding: 24px;
}

#score-counter li {
  margin: 16px;
}

#text-content {
  grid-column: 2 / span 3;
  grid-row: 3 / 4;
  background-color: lightgreen;
}

#grid-area img {
  align-self: center;
  justify-self: center;
  max-height: 100%;
  object-fit: contain;
  overflow-y: hidden;

  /* ^ cover stretches to container */
}

#imgSection {
  grid-column: 2 / span 3;
  grid-row: 1 / 2;
  background-color: white;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr);
}

#imgSection img {
  min-height: 100%;
  min-width: 100%;

  max-height: 100%;
  max-width: 100%;

  align-self: center;
  justify-self: center;
  object-fit: fill;
}

p {
  height: 100%;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  grid-column: 1 / span 3;
}

/* added something different */
